// -- Body --

$bg-dark: #282a2c;
$body-bg: #282a2c;
$body-color: #c9d2db;

// -- Navbar --
$navbar-searchbar: #1a1a1a;

// -- Close Button --
$close-color: #ffffff;
$close-text-shadow: 0 1px 0 #000000 !default;

// -- Card --
$card-bg: #282a2c;
$card-spacer-y: 5px;
$card-spacer-x: 5px;
$card-border-color: rgba(#000000, 0.1);

// -- Modal --
$modal-content-bg: #1a1a1a;
$modal-header-border-color: #1a1a1a;
$modal-footer-border-color: #1a1a1a;

// -- Input --
$input-bg: #212224;
$input-group-addon-bg: #212224;
$input-border-color: #212224;
$input-color: white;

$input-focus-border-color: #212224;
$input-group-addon-color: #C9D2DB;

// -- Alerts --
$alert-bg-level: 10;
$alert-border-level: 0;
$alert-color-level: -10;

$theme-colors: (
  "pink": #E83E8C
);