.sidebar {
  background-color: #212224;
  width: 240px;
  min-width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: calc(100% - 56px);
  color: #d6d6d6;
  overflow: auto;
  z-index: 10;
  position: fixed;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .hide {
    width: 0px;
    min-width: 0px;
  }
}

.navVertical {
  width: 100%;

  .navTable {
    display: table;
  }

  .navLink {
    color: #d6d6d6;
    font-size: 14px;
    height: 40px;
    display: table-cell;
    width: 100%;
    vertical-align: middle !important;

    &:hover {
      background-color: #2e3133;
    }

    img {
      margin-right: 10px !important;
    }

    svg {
      margin-right: 10px;
      width: 21px;
    }
  }

  .active {
    background-color: #2e3133 !important;
  }

  p {
    margin-left: 10px;
    margin-bottom: 5px;
  }
}
